.task-column {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    min-height: 75%;
    width: 30%;
    max-height: calc(100vh - 70px - 30px - 100px);
    overflow: hidden;
}

.todo-column {
    background-color: #bbd5fd;
}

.inprogress-column {
    background-color: #f4f4f4;
}

.done-column {
    background-color: #a8e4a8;
}

.column-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    flex-shrink: 0;
}

.task-list-wrapper {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* padding-right: 4px; */
}