html, body, #root {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}

.body-container {
  flex-grow: 1;
  overflow-y: auto;
}
